<div class="kitten">
  <%= link_to (image_tag kitten.image), kitten_categorization_path(kitten, kitten) %>

  <% kitten.categories.order(:name).each do |category| %>
  <center><p><%= category.name %></p></center>
  <% end %>

</div>
